/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: url(/images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--text-color-alt);
  font-size: var(--font-size);
  font-family: var(--font);
  background-color: var(--text-color-alt);
}

.header__theme-menu-button {
  background-color: transparent;
  border: 0;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  padding: 1px 15px;
  border: 1px solid var(--color-content-title);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--color-content-title);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 1fr 1fr;
  min-height: 768px;
  block-size: 100vh;
}

.header__theme-menu {
  color: var(--color-content-title);
  grid-area: 1 / span 2;
}

.header__theme-menu-list {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: 27px;
}

.decorated-zone::before {
  content: "rec";
  position: absolute;
  color: var(--text-color-alt);
  font-family: var(--font);
  top: 19px;
  right: 49px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: 28px;
  right: 29px;
  width: 10px;
  height: 10px;
  border: 1px solid var(--text-color-alt);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--text-color-alt);
  background: var(--text-color-alt);
}

.decorated::before {
  content: "";
  position: absolute;
  top: 19px;
  right: 20px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--color-content-title);
  border-right: 1px solid var(--color-content-title);
}

.decorated::after {
  content: "";
  position: absolute;
  bottom: 21px;
  left: 20px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--color-content-title);
  border-left: 1px solid var(--color-content-title);
}

.text__decor {
  background-color: var(--text-color-alt);
  color: var(--color-text-alt);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  font-family: var(--font);
}

.header__text {
  font-weight: var(--font-weight-alt);
  align-self: center;
  justify-self: start;
  margin-bottom: 55px;
  padding: 2px;
  grid-area: 3 / 2;
}

.header__title {
  color: var(--color-title);
  text-shadow: 4px 4px 0 var(--title-shadow);
  font-weight: var(--font-weight-alt);
  font-size: var(--title-font-size);
  font-family: var(--font);
  align-self: center;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  grid-area: 2 / span 2;
}

.text__link {
  text-shadow: 2px 2px 0 var(--title-shadow);
  text-decoration: none;
}

.text__link:hover {
  text-decoration: underline;
}

.text__link:focus {
  border: 1px solid var(--text-color);
  outline: none;
}

.text__link:focus-visible {
  border: 1px solid var(--text-color);
}
/* content */

.content__title-h2 {
  margin: 0 0 20px;
}

.content {
  margin: 40px 20px;
}
.content__why {
  margin: 60px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

.content__block {
  grid-area: 1 / 2 / 2 / 4;
}

.content__title {
  font-size: var(--font-size);
  font-family: var(--font);
  font-weight: var(--font-weight-alt);
  line-height: var(--line-height);
  color: var(--color-content-title);
}

.content__text {
  font-family: var(--font);
  color: var(--text-color);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  margin: 10px 0 20px;
}

.content__list {
  display: flex;
  grid-area: 2 / span 3;
  gap: 20px;
}

.content__what {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.content__title-h2 {
  grid-area: span 1 / 1;
}

.content__as {
  margin-top: 106px;
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

.content__as-list {
  grid-area: 1 / 2 / 2 / 4;
}

.content__as-list-title {
  margin: 0 0 20px;
}

/* блок с картинками */

.content__gallery {
  margin-top: 60px;
}

.content__gallery-grid {
  margin-top: 18px;
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(3, minmax(min-content, max-content));
  gap: 25px;
  justify-items: stretch;
  align-items: stretch;
}

.gallery__picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content__gallery-img:nth-child(1) {
  grid-area: 1 / 1 / 2 / 3;
}

.content__gallery-img:nth-child(2) {
  grid-area: 1 / 3 / 3 / 4;
}

.content__gallery-img:nth-child(3) {
  grid-area: 2 / 1 / 4 / 2;
}

.content__gallery-img:nth-child(4) {
  grid-area: 2 / 2 / 3 / 3;
}

.content__gallery-img:nth-child(5) {
  grid-area: 3 / 2 / 4 / 4;
}
/* футер */
.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
  min-height: 768px;
  padding: 10px;
}

@media (768px <= width <= 1023px) {
  .header {
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    grid-template-columns: 1fr 1fr;
    min-height: 1024px;
  }

  .header__theme-menu {
    grid-area: 1/ 2;
    display: flex;
    align-self: center;
    justify-self: end;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    margin: 42px 17px 0 0;
    gap: 10px;
  }

  .header__title {
    grid-area: 2 / span 2;
  }

  .header__text {
    grid-area: 3 / 2;
    margin: 23px 20px 72px 0;
  }

  /* header */
  .content {
    margin: 0 20px;
  }
  .content__list {
    display: flex;
    flex-direction: column;
    gap: 1px;
  }

  .content__as-list {
    padding-bottom: 42px;
  }

  .footer {
    padding-top: 93px;
    min-height: 1024px;
  }
}

@media (width <= 767px) {
  .header {
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    block-size: 100vh;
    margin: 0 10px 0 10px;
    min-height: 667px;
  }

  .header__title {
    line-height: 0.8;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .header__theme-menu {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: end;
  }

  .header__text {
    grid-area: 3 / span 2;
    margin-top: 39px;
    align-self: center;
  }

  .content {
    margin: 0 10px;
  }

  .content__why {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
  }

  .content__what {
    margin: -10px 0;
    display: flex;
    flex-direction: column;
  }

  .content__list {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .content__as {
    margin-top: 38px;
    display: flex;
    flex-direction: column;
  }

  .content__gallery {
    margin: 28px 0;
  }

  .content__gallery-grid {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .decorated-zone::before {
    top: 8px;
    right: 36px;
  }

  .decorated-zone::after {
    top: 15px;
    right: 20px;
  }

  .decorated::before {
    top: 9px;
    right: 10px;
  }

  .decorated::after {
    bottom: 10px;
    left: 11px;
  }

  .footer {
    min-height: 667px;
  }
}
